@model libraryproject.BookFineTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/sharedview.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookFineTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FineDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FineDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FineAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FineAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookTable.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTable.BookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentTable.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentTable.StudentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookFineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
