@model IEnumerable<libraryproject.BookFineTable>

@{
    ViewBag.Title = "Manage Fine";
    Layout = "~/Views/Shared/sharedview.cshtml";
}

@*<h2>Index</h2>*@

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FineDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FineAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTable.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentTable.StudentName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FineDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FineAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTable.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentTable.StudentName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookFineID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BookFineID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookFineID })
            </td>
        </tr>
    }

</table>*@



<!-- Page Heading -->
@*<h1 class="h3 mb-2 text-gray-800">Tables</h1>*@

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Fine Table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="color:white ">Fine ID</th>
                        <th style="color:white; text-align:center">Fine Date</th>
                        <th style="color:white ">Fine Amount</th>
                        <th style="color:white ">Days</th>
                        <th style="color:white ">Book Title</th>
                        <th style="color:white ; text-align:center">Student Name</th>
                        <th style=" text-align:center">
                            <a href="@Url.Action("Create","BookFineTables")" class="btn btn-primary">
                                <i class="fas fa-plus"></i> &nbsp; Fine Now
                            </a>
                        </th>
                    </tr>
                </thead>
               
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookFineID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FineDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FineAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoOfDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookTable.BookTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentTable.StudentName)
                        </td>
                        <td style="text-align:center">
                        
                            <a href="@Url.Action("Edit", "BookFineTables", new { id = item.BookFineID })" class="btn btn-primary mx-2">
                                <i class="fas fa-edit"></i>

                            </a>
                            <a href="@Url.Action("Delete", "BookFineTables", new { id = item.BookFineID })" class="btn btn-danger mx-2" onclick=" confirm('Are you sure to delete this record')">
                                <i class="fas fa-trash-alt"></i>

                            </a>
                                                    

                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>










