@model IEnumerable<libraryproject.BookTable>

@{
    ViewBag.Title = "Book Manage";
    Layout = "~/Views/Shared/sharedview.cshtml";
}















<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Return Table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="color:white">Book ID</th>
                        <th style="color:white">Book Title</th>
                        <th style="color:white">Author</th>
                        <th style="color:white">Book Name</th>
                        <th style="color:white">Edition</th>
                        <th style="color:white">Copies</th>
                        <th style="color:white">Book Type</th>
                        <th style="color:white">Department</th>
                        <th style="text-align:center">
                            <a href="@Url.Action("Create","BookTables")" class="btn btn-primary">
                                <i class="fas fa-plus"></i> &nbsp; Create New
                            </a>
                        </th>
                    </tr>
                </thead>

                <tbody>



                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookID)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.BookTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Edition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalCopies)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookTypeTable.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentTable.Name)
                        </td>
                        <td style="text-align:center">

                            <a href="@Url.Action("Edit", "BookTables", new { id = item.BookID })" class="btn btn-primary mx-2">
                                <i class="fas fa-edit"></i>

                            </a>
                            <a href="@Url.Action("Delete", "BookTables", new { id = item.BookID })" class="btn btn-danger mx-2" onclick=" confirm('Are you sure to delete this record')">
                                <i class="fas fa-trash-alt"></i>

                            </a>


                        </td>

                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>










@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCopies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTypeTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentTable.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTypeTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentTable.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BookID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookID })
            </td>
        </tr>
    }

</table>*@
