@model libraryproject.StudentTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/sharedview.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StudentTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentTypeTable.StudentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentTypeTable.StudentType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
