@model IEnumerable<libraryproject.StudentTable>

@{
    ViewBag.Title = "Manage Student";
    Layout = "~/Views/Shared/sharedview.cshtml";
}


























<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">STUDENT DATA</h4>
                @*<p class="card-category"> Here is a subtitle for this table</p>*@
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Student ID
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            Department Name
                        </th>
                        <th>
                            Student Type
                        </th>
                        <th>
                            ISActive
                        </th>
                       
                        <>
                        <th style="text-align:center">
                            <a href="@Url.Action("Create","StudentTables")" class="btn btn-primary">
                                <i class="fas fa-plus"></i> &nbsp; Create New
                            </a>
                        </th>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentTable.Name)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentTypeTable.StudentType)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    
                                    <td style="text-align:center">

                                        <a href="@Url.Action("Edit", "StudentTables", new { id = item.StudentID })" class="btn btn-primary mx-2">
                                            <i class="fas fa-edit"></i>

                                        </a>
                                        <a href="@Url.Action("Delete", "StudentTables", new { id = item.StudentID })" class="btn btn-danger mx-2" onclick=" confirm('Are you sure to delete this record')">
                                            <i class="fas fa-user-minus"></i>

                                        </a>


                                    </td>

                                </tr>

                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>




